#myForm {
  width: 100%; /* 元が50%なので2倍にすると100% */
  margin: 10 auto;
}

label {
  font-size: 60px;
}

input[type="text"],
input[type="number"] {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px; /* 2倍にします */
  padding: 10px; /* 2倍にします */
  border: 1px solid #ccc;
  border-radius: 6px; /* 2倍にします */
  font-size: 60px; /* 2倍にします */
}

input[type="radio"]{
  display: inline-block;
  margin-top: 60px; /* 2倍にします */
  margin-bottom: 60px; /* 2倍にします */
  padding: 10px; /* 2倍にします */
  border: 1px solid #ccc;
  border-radius: 6px; /* 2倍にします */
  font-size: 60px; /* 2倍にします */
}

textarea {
  height: 150px; /* 2倍にします */
  border: 1px solid #ccc; 
  border-radius: 6px; /* 2倍にします */
  padding: 10px; /* 2倍にします */
  font-size: 60px; /* 2倍にします */
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 20px 40px; /* 2倍にします */
  border: none;
  border-radius: 8px; /* 2倍にします */
  cursor: pointer;
  margin-bottom: 40px; /* 2倍にします */
}

@media screen and (max-width: 600px) {
  #myForm {
    width: 100%;
  }
}